<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 注册School -->
    <bean id="mySchool" class="com.cd.di06.School">
        <property name="name" value="清华大学"/>
    </bean>
    <bean id="mySchool2" class="com.cd.di06.School">
        <property name="name" value="北京大学"/>
    </bean>
    
    <bean id="mySome" class="com.cd.di06.Some">
        <property name="schools">
            <array>
                <ref bean="mySchool"/>
                <ref bean="mySchool2"/>
            </array>
        </property>
        
        <property name="myStrs" value="中国，北京"/>
        
        <property name="myList" value="大兴，亦庄"/>
    
        <property name="mySet" value="大族企业湾，10号楼"/>
        
        <property name="myMap">
            <map>
                <entry key="mobile" value="15708919367"/>
                <entry key="QQ" value="7654321"/>
            </map>
        </property>
        
        <property name="myPros">
            <props>
                <prop key="education">大学</prop>
                <prop key="gender">男</prop>
            </props>
        </property>
        
    </bean>
    
</beans>